designs/server/services/auth.json
[
    {
        "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "type": "tab",
        "createdDate": "2024-05-13T10:00:34.161Z",
        "label": "auth",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "auth",
        "relativeParentPath": ""
    },
    {
        "id": "sd_wsqWGWcesvGtnqo1",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Register",
        "path": "/register",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "name",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "name",
                    "value": "1",
                    "rowId": "sd_Ii1sVLKioCYwh4V0",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 40,
        "wires": [
            [
                "sd_kbZcqnQSg2r55SGk"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_wsqWGWcesvGtnqo1"
    },
    {
        "id": "sd_kbZcqnQSg2r55SGk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}\n// This is the fix, when adding documents to the DB \n// Add your own _id as a type of 'number'\n// The issue is that the _id that MongoDB provides is an Object SO we couldn't find it\nbh.input.body['_id'] = new Date().getTime();",
        "functionName": "sd_kbZcqnQSg2r55SGk",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_U1NLypdAJKVQskul"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_ygLudNMItp9Xqotm",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "check if exist",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchObj",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "checkIfExist",
        "category": "General",
        "x": 85,
        "y": 160,
        "wires": [
            [
                "sd_o8c0l4D11uvNKdIC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_o8c0l4D11uvNKdIC",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.input.searchObj.collection",
        "options": "bh.option",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.searchObj.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_o8c0l4D11uvNKdIC",
        "category": "Storage",
        "x": 225,
        "y": 160,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.input",
                "value": "searchObj.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "searchObj.query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_U1NLypdAJKVQskul",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_U1NLypdAJKVQskul",
        "category": "General",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_B82AggI2BXaoFCwk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_8byiLnVAIJwBOtbq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if error",
        "script": "bh.status = 200;\nbh.result = {\n    message:\"User already exist\"\n}",
        "functionName": "ifError",
        "category": "Function",
        "x": 685,
        "y": 40,
        "wires": [
            [
                "sd_TVW1YChwcueLIbBM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6PE1R3GN0PWCtVVj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if success",
        "script": "bh.status = 200;\nbh.collection = bh.input.body.collection;\ndelete bh.input.body.collection;\nbh.body = bh.input.body;\nbh.input.body['status'] = 'Pending'\nbh.input.body['OTP'] = ''",
        "functionName": "ifSuccess",
        "category": "Function",
        "x": 685,
        "y": 140,
        "wires": [
            [
                "sd_tWvi321XyzGdzHq1",
                "sd_bphegCm8mwdh0GWH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_B82AggI2BXaoFCwk",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_B82AggI2BXaoFCwk",
        "category": "Function",
        "x": 525,
        "y": 40,
        "wires": [
            [
                "sd_8byiLnVAIJwBOtbq"
            ],
            [
                "sd_6PE1R3GN0PWCtVVj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_tWvi321XyzGdzHq1",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_tWvi321XyzGdzHq1",
        "category": "Storage",
        "x": 805,
        "y": 100,
        "wires": [
            [
                "sd_IqRDFPTyLhPvUIrA"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TVW1YChwcueLIbBM",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_TVW1YChwcueLIbBM",
        "category": "HTTP",
        "x": 1185,
        "y": 80,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_IqRDFPTyLhPvUIrA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send Email",
        "script": "bh.status = 200;\nbh.payload = {\n    to: bh.input.body.email,\n    subject: 'FNB ACCOUNT',\n    from: 'FNB',\n    ptag:`<p>Your registration with FNB was successful.</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    ` \n}",
        "functionName": "sendEmail",
        "category": "Function",
        "x": 905,
        "y": 100,
        "wires": [
            [
                "sd_3H8LefEtmRLAuSHY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_3H8LefEtmRLAuSHY",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_Y7tj22emRRoCDJdJ",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "bh.payload.ptag",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_3H8LefEtmRLAuSHY",
        "category": "Messaging",
        "x": 1005,
        "y": 100,
        "wires": [
            [
                "sd_TVW1YChwcueLIbBM"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.ptag",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TcdKzKCe4pwlGvG4",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "update",
        "path": "/update",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 260,
        "wires": [
            [
                "sd_IL3KQ2cnN00XR8n9"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_TcdKzKCe4pwlGvG4"
    },
    {
        "id": "sd_IL3KQ2cnN00XR8n9",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = bh.input.body.collection\nbh.filter = { 'email': bh.input.body['email'] };\n\ndelete bh.input.body.collection;\n// delete bh.input.body['_id']; // Need to remove _id if you update\n\nbh.body = {$set: bh.input.body};\n\nconsole.log(\"Body data\", bh.body)",
        "functionName": "sd_IL3KQ2cnN00XR8n9",
        "category": "Function",
        "x": 225,
        "y": 260,
        "wires": [
            [
                "sd_svfviycgAG6f0RrV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_svfviycgAG6f0RrV",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_svfviycgAG6f0RrV",
        "category": "Storage",
        "x": 365,
        "y": 260,
        "wires": [
            [
                "sd_dD5nqIqhtJxOErYt"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_dD5nqIqhtJxOErYt",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_dD5nqIqhtJxOErYt",
        "category": "HTTP",
        "x": 520,
        "y": 260,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_xGYn1ynauI79omOt",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload",
        "path": "/upload-file",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "file",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "file",
                    "value": "1",
                    "rowId": "sd_Iqgun0coZp1vQaIJ",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 360,
        "wires": [
            [
                "sd_EMU76JKUwLutq0jK"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_xGYn1ynauI79omOt"
    },
    {
        "id": "sd_BkTEbjv46m5Enup2",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_BkTEbjv46m5Enup2",
        "category": "HTTP",
        "x": 505,
        "y": 360,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_EMU76JKUwLutq0jK",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.file = bh.input.files.file[0];\n// bh.file['ID'] = new Date().getTime();\nconsole.log(\"Let's see what the file holds\", bh.file)",
        "functionName": "sd_EMU76JKUwLutq0jK",
        "category": "Function",
        "x": 185,
        "y": 360,
        "wires": [
            [
                "sd_BHduQ5xAyOncXmta"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_BHduQ5xAyOncXmta",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"files\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "uploadFile",
        "argumentArray": [
            "filePath",
            "fileName",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.data",
        "newName": "",
        "doc": "",
        "filePath": "bh.file.path",
        "fileName": "bh.file.filename",
        "pipeline": "",
        "functionName": "sd_BHduQ5xAyOncXmta",
        "category": "Storage",
        "x": 305,
        "y": 360,
        "wires": [
            [
                "sd_PuSdM1tW1KeFaXdG"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "files",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "filePath": {
                "type": "bh",
                "value": "file.path",
                "constant": false
            },
            "fileName": {
                "type": "bh",
                "value": "file.filename",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_0dKFiCNy4qmxYTjl",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get file",
        "path": "/get-file",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 480,
        "wires": [
            [
                "sd_8OtQUxpu1OTSklDD"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_0dKFiCNy4qmxYTjl"
    },
    {
        "id": "sd_e1Ymjrhgyrpk8hRF",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_e1Ymjrhgyrpk8hRF",
        "category": "General",
        "x": 305,
        "y": 480,
        "wires": [
            [
                "sd_W9w3XGf65Eze3qAj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_8OtQUxpu1OTSklDD",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"files.files\"\n}",
        "functionName": "sd_8OtQUxpu1OTSklDD",
        "category": "Function",
        "x": 205,
        "y": 480,
        "wires": [
            [
                "sd_e1Ymjrhgyrpk8hRF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_W9w3XGf65Eze3qAj",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_W9w3XGf65Eze3qAj",
        "category": "Function",
        "x": 445,
        "y": 480,
        "wires": [
            [
                "sd_vBAwvG2qumjZdQ5W"
            ],
            [
                "sd_XTWlScMZ55pmxoDw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_vBAwvG2qumjZdQ5W",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.result = bh.result",
        "functionName": "sd_vBAwvG2qumjZdQ5W",
        "category": "Function",
        "x": 625,
        "y": 440,
        "wires": [
            [
                "sd_KTvbicfFqK0dgmQg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_XTWlScMZ55pmxoDw",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\n",
        "functionName": "sd_XTWlScMZ55pmxoDw",
        "category": "Function",
        "x": 625,
        "y": 520,
        "wires": [
            [
                "sd_KTvbicfFqK0dgmQg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_KTvbicfFqK0dgmQg",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_KTvbicfFqK0dgmQg",
        "category": "HTTP",
        "x": 780,
        "y": 460,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_kB85xAHf72lebzvN",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Add-admin",
        "path": "/add-admin",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 660,
        "wires": [
            [
                "sd_xF1aHbFU23VFIy91"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_kB85xAHf72lebzvN"
    },
    {
        "id": "sd_xF1aHbFU23VFIy91",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = {\n    email: \"admin@gmail.com\",\n    password: \"123\",\n    firstTime: \"True\",\n    _id : new Date().getTime()\n}\n\nbh.search = {\n    query:{'email': bh.body.email},\n    collection: \"users\"\n}",
        "functionName": "sd_xF1aHbFU23VFIy91",
        "category": "Function",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "sd_thV4LW24bpgzXF0x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_thV4LW24bpgzXF0x",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_thV4LW24bpgzXF0x",
        "category": "General",
        "x": 325,
        "y": 660,
        "wires": [
            [
                "sd_gvbiF9TsaJic257A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_gvbiF9TsaJic257A",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_gvbiF9TsaJic257A",
        "category": "Function",
        "x": 445,
        "y": 660,
        "wires": [
            [
                "sd_B7rcag9FpwRL81nB"
            ],
            [
                "sd_ddGSppBxeVEjXnUu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_B7rcag9FpwRL81nB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "If found",
        "script": "bh.status = 200\nbh.result = {\n    message:\"Admin Already Exist!!!\"\n}",
        "functionName": "ifFound",
        "category": "Function",
        "x": 625,
        "y": 620,
        "wires": [
            [
                "sd_c6LZxfceffqnduax"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_ddGSppBxeVEjXnUu",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if succeess",
        "script": "const bcrypt = require('bcrypt');\nbh.status = 200;\nbh.collection = 'users';\n// delete bh.body.collection;\nconst hashedPassword = await bcrypt.hash(bh.body['password'], 10);\nconsole.log(\"bcrypt hashed pass\", hashedPassword);\nbh.body['password'] = hashedPassword;",
        "functionName": "ifSucceess",
        "category": "Function",
        "x": 625,
        "y": 700,
        "wires": [
            [
                "sd_T3v962reCoKtkUSG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_c6LZxfceffqnduax",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_c6LZxfceffqnduax",
        "category": "HTTP",
        "x": 985,
        "y": 620,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_T3v962reCoKtkUSG",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_T3v962reCoKtkUSG",
        "category": "Storage",
        "x": 805,
        "y": 700,
        "wires": [
            [
                "sd_c6LZxfceffqnduax"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_HUS6bPgtry4Z9I23",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Download file",
        "path": "/download-file/:filename",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "ID",
                    "desc": "To download file",
                    "type": "query",
                    "required": true,
                    "rowId": "sd_pMkLwPYFBYVimqhE",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 800,
        "wires": [
            [
                "sd_XuI5ang6rLg5end7"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_HUS6bPgtry4Z9I23"
    },
    {
        "id": "sd_XuI5ang6rLg5end7",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection: 'users'\n}",
        "functionName": "sd_XuI5ang6rLg5end7",
        "category": "Function",
        "x": 165,
        "y": 800,
        "wires": [
            [
                "sd_oqDjnw4MPRLCxxh8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_oqDjnw4MPRLCxxh8",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_oqDjnw4MPRLCxxh8",
        "category": "General",
        "x": 245,
        "y": 800,
        "wires": [
            [
                "sd_5nHU1K4fODmmzdmE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_5nHU1K4fODmmzdmE",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_5nHU1K4fODmmzdmE",
        "category": "Function",
        "x": 325,
        "y": 800,
        "wires": [
            [
                "sd_N43Evb5ywqf9HLqZ"
            ],
            [
                "sd_zB6RCba7lqBpwZY5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_N43Evb5ywqf9HLqZ",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.filter = { 'filename': bh.input.params.filename };\nbh.result.forEach((account) => {\n    if (account.idDocument === bh.input.params.filename) {\n        bh.filename = account.idFileName;\n    }\n    if (account.paySlipDocument === bh.input.params.filename) {\n        bh.filename = account.paySlipFileName;\n    }\n})\nbh.filename = bh.filename.split('.')[1];",
        "functionName": "sd_N43Evb5ywqf9HLqZ",
        "category": "Function",
        "x": 425,
        "y": 760,
        "wires": [
            [
                "sd_6lGEPgVdLggcxVNd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_9Kx1Odisa7wjtoFP",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Verification",
        "path": "/verification",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1360,
        "wires": [
            [
                "sd_cNdl8vgocns6VGYF"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_9Kx1Odisa7wjtoFP"
    },
    {
        "id": "sd_cNdl8vgocns6VGYF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}",
        "functionName": "sd_cNdl8vgocns6VGYF",
        "category": "Function",
        "x": 225,
        "y": 1360,
        "wires": [
            [
                "sd_bI1YIRnJGh4Fglcx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bI1YIRnJGh4Fglcx",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_bI1YIRnJGh4Fglcx",
        "category": "General",
        "x": 365,
        "y": 1360,
        "wires": [
            [
                "sd_WmdNO4n9TGzzjxTz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_WmdNO4n9TGzzjxTz",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WmdNO4n9TGzzjxTz",
        "category": "Function",
        "x": 505,
        "y": 1360,
        "wires": [
            [
                "sd_Xx9OmbQs6pyAGNcH"
            ],
            [
                "sd_bO3r8GbizlfNytl2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Xx9OmbQs6pyAGNcH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.resutl = bh.result[0];",
        "functionName": "sd_Xx9OmbQs6pyAGNcH",
        "category": "Function",
        "x": 665,
        "y": 1320,
        "wires": [
            [
                "sd_t1e1KrE9R6WnqI7A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bO3r8GbizlfNytl2",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.result = {\n    message:\"User not found\"\n}",
        "functionName": "sd_bO3r8GbizlfNytl2",
        "category": "Function",
        "x": 665,
        "y": 1420,
        "wires": [
            [
                "sd_t1e1KrE9R6WnqI7A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_t1e1KrE9R6WnqI7A",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_t1e1KrE9R6WnqI7A",
        "category": "HTTP",
        "x": 845,
        "y": 1360,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_hJdVW1jU3bQAeK05",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Delete",
        "path": "/delete",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "delete",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1520,
        "wires": [
            [
                "sd_uq4lLunC71aFlNkj"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_hJdVW1jU3bQAeK05"
    },
    {
        "id": "sd_uq4lLunC71aFlNkj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = bh.input.body.collection\nbh.filter = {'email': bh.input.body['email']};\ndelete bh.input.body.collection;\nconsole.log(\"Deleted collection\",delete bh.input.body.collection)",
        "functionName": "sd_uq4lLunC71aFlNkj",
        "category": "Function",
        "x": 205,
        "y": 1520,
        "wires": [
            [
                "sd_1ts6hALc1iwxyBRz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_1ts6hALc1iwxyBRz",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "deleteOne",
        "argumentArray": [
            "filter",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_1ts6hALc1iwxyBRz",
        "category": "Storage",
        "x": 360,
        "y": 1520,
        "wires": [
            [
                "sd_EMPlfSvHonePZJWc"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_EMPlfSvHonePZJWc",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_EMPlfSvHonePZJWc",
        "category": "HTTP",
        "x": 520,
        "y": 1520,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6CyS8TPipEXGaJLU",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Approved status",
        "path": "/approve",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1700,
        "wires": [
            [
                "sd_wWhmgroqpanAcOha"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_6CyS8TPipEXGaJLU"
    },
    {
        "id": "sd_lZSWfxDNEl6yCKxM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.filter = { 'email': bh.input.body['email'] };\nconst bcrypt = require('bcrypt');\nconst hashedPassword = await bcrypt.hash(bh.input.body['password'], 10);\nbh.input.body['password'] = hashedPassword;\nbh.body = {$set: bh.input.body};",
        "functionName": "sd_lZSWfxDNEl6yCKxM",
        "category": "Function",
        "x": 385,
        "y": 1700,
        "wires": [
            [
                "sd_svRXiAApQWbrqqla"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_svRXiAApQWbrqqla",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"users\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_svRXiAApQWbrqqla",
        "category": "Storage",
        "x": 485,
        "y": 1700,
        "wires": [
            [
                "sd_acRYmMlvavd7AcXM"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_wWhmgroqpanAcOha",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.input.body.email,\n    subject: 'FNB ACCOUNT',\n    from: 'FNB',\n    ptag:`<p>Your Application Has been Approved</p>\n    <h3>Please Login using</h3>\n    <p>Account No: ${bh.input.body._id}</p>\n    <p>Username: ${bh.input.body.email}</p>\n    <p>Password: ${bh.input.body.password}</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    ` \n}\n",
        "functionName": "sd_wWhmgroqpanAcOha",
        "category": "Function",
        "x": 165,
        "y": 1700,
        "wires": [
            [
                "sd_bJy17l51susoCvR6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bJy17l51susoCvR6",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_Y7tj22emRRoCDJdJ",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "undefined",
        "html": "bh.payload.ptag",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_bJy17l51susoCvR6",
        "category": "Messaging",
        "x": 265,
        "y": 1700,
        "wires": [
            [
                "sd_lZSWfxDNEl6yCKxM"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.ptag",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_j2nEOklY7b5SKH6B",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "forgotPassword",
        "path": "/forgot-password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1880,
        "wires": [
            [
                "sd_IA2OgDwcQNZbZXtM"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_j2nEOklY7b5SKH6B"
    },
    {
        "id": "sd_IA2OgDwcQNZbZXtM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.searchObj = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n};\n\n bh.newPassword = bh.input.body.newPassword;",
        "functionName": "sd_IA2OgDwcQNZbZXtM",
        "category": "Function",
        "x": 205,
        "y": 1880,
        "wires": [
            [
                "sd_6K3nYNyyKU1CFWBP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6K3nYNyyKU1CFWBP",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "searchObj"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.searchObj"
        ],
        "accept_bh": false,
        "functionName": "sd_6K3nYNyyKU1CFWBP",
        "category": "General",
        "x": 325,
        "y": 1880,
        "wires": [
            [
                "sd_2lp13NsjXECaI0of"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_2lp13NsjXECaI0of",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2lp13NsjXECaI0of",
        "category": "Function",
        "x": 445,
        "y": 1880,
        "wires": [
            [
                "sd_VCqUyHSKEg02JT3J"
            ],
            [
                "sd_jcLO4gylDGM9MCBM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_jcLO4gylDGM9MCBM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result ={\n    message:\"User dont exist\"\n}",
        "functionName": "sd_jcLO4gylDGM9MCBM",
        "category": "Function",
        "x": 585,
        "y": 1960,
        "wires": [
            [
                "sd_bJysZ30bupy8asBc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_VCqUyHSKEg02JT3J",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "SendOtp",
        "script": "bh.otp = bh.input.body.otp;\nbh.filter = { 'email': bh.input.body['email'] };\nbh.input.body = {\n    ...bh.result[0]\n}\n\nbh.input.body.OTP = bh.otp;\nbh.body = { $set: bh.input.body };\n\nif (bh.input.body.email == \"admin@gmail.com\") {\n    bh.payload = {\n        to: \"lesetjamaluleka@gmail.com\",\n        subject: 'Forgot Password',\n        from: 'FNB',\n        ptag: `<p>Your OTP is ${bh.input.body.OTP}</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    `\n    }\n} else {\n    bh.payload = {\n        to: bh.input.body.email,\n        subject: 'Forgot Password',\n        from: 'FNB',\n        ptag: `<p>Your OTP is ${bh.input.body.OTP}</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    `\n    }\n}\n\n\nbh.status = 200;",
        "functionName": "sendOtp",
        "category": "Function",
        "x": 585,
        "y": 1840,
        "wires": [
            [
                "sd_Q3iVDqsSlXn9rilD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bJysZ30bupy8asBc",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_bJysZ30bupy8asBc",
        "category": "HTTP",
        "x": 965,
        "y": 1960,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_CsqlVcyusuyUG0DL",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"users\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_CsqlVcyusuyUG0DL",
        "category": "Storage",
        "x": 805,
        "y": 1840,
        "wires": [
            [
                "sd_bJysZ30bupy8asBc"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_gz6dq8FHPlal2Sfl",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "verifyOtp",
        "path": "/verify-otp",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 2100,
        "wires": [
            [
                "sd_mh91bhVNziPCCusO"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_gz6dq8FHPlal2Sfl"
    },
    {
        "id": "sd_mh91bhVNziPCCusO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.searchObj = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n};\n\nbh.newPassword = bh.input.body.newPassword;",
        "functionName": "sd_mh91bhVNziPCCusO",
        "category": "Function",
        "x": 205,
        "y": 2100,
        "wires": [
            [
                "sd_3OZmy2peMJivw44w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_3OZmy2peMJivw44w",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "searchObj"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.searchObj"
        ],
        "accept_bh": false,
        "functionName": "sd_3OZmy2peMJivw44w",
        "category": "General",
        "x": 325,
        "y": 2100,
        "wires": [
            [
                "sd_OvuB5fnGljhZQPuV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_OvuB5fnGljhZQPuV",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_OvuB5fnGljhZQPuV",
        "category": "Function",
        "x": 445,
        "y": 2100,
        "wires": [
            [
                "sd_vuCpnEfeDErUk41b"
            ],
            [
                "sd_XKNseNpxyuKrmvFk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_XKNseNpxyuKrmvFk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result ={\n    message:\"User dont exist\"\n}",
        "functionName": "sd_XKNseNpxyuKrmvFk",
        "category": "Function",
        "x": 565,
        "y": 2160,
        "wires": [
            [
                "sd_lK8sdqY5op4XM98w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_vuCpnEfeDErUk41b",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "verifyOtp",
        "script": "if (bh.result[0].OTP === bh.input.body.otp) {\n    bh.isCorrectOtp = true;\n} else {\n    bh.isCorrectOtp = false;\n}",
        "functionName": "verifyOtp",
        "category": "Function",
        "x": 565,
        "y": 2060,
        "wires": [
            [
                "sd_QoNkAjuCGfaNYXDh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_lK8sdqY5op4XM98w",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_lK8sdqY5op4XM98w",
        "category": "HTTP",
        "x": 965,
        "y": 2120,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_QoNkAjuCGfaNYXDh",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isCorrectOtp",
        "propertyType": "bh",
        "propertyGv": "bh.isCorrectOtp",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_QoNkAjuCGfaNYXDh",
        "category": "Function",
        "x": 665,
        "y": 2060,
        "wires": [
            [
                "sd_09u3nrSak6acL8NK"
            ],
            [
                "sd_a9iRk9LLwUR7SVIi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_a9iRk9LLwUR7SVIi",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result ={\n    message:\"OTP not match\"\n}",
        "functionName": "sd_a9iRk9LLwUR7SVIi",
        "category": "Function",
        "x": 805,
        "y": 2100,
        "wires": [
            [
                "sd_lK8sdqY5op4XM98w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_09u3nrSak6acL8NK",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {}",
        "functionName": "sd_09u3nrSak6acL8NK",
        "category": "Function",
        "x": 805,
        "y": 2020,
        "wires": [
            [
                "sd_lK8sdqY5op4XM98w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_2AwmFR6x98aa2X6g",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get users",
        "path": "/get-users",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 2300,
        "wires": [
            [
                "sd_xcAfNpkho3zxE0fr"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_2AwmFR6x98aa2X6g"
    },
    {
        "id": "sd_hxDacUzGo640XwXu",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_hxDacUzGo640XwXu",
        "category": "General",
        "x": 325,
        "y": 2300,
        "wires": [
            [
                "sd_WxDaZehPH5cGjHMI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_xcAfNpkho3zxE0fr",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"users\"\n}\n\n",
        "functionName": "sd_xcAfNpkho3zxE0fr",
        "category": "Function",
        "x": 205,
        "y": 2300,
        "wires": [
            [
                "sd_hxDacUzGo640XwXu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_WxDaZehPH5cGjHMI",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WxDaZehPH5cGjHMI",
        "category": "Function",
        "x": 485,
        "y": 2300,
        "wires": [
            [
                "sd_WWVKD7LbhtIxKgql"
            ],
            [
                "sd_WFsB4vp8wP0Uc0jf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_WWVKD7LbhtIxKgql",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.result = bh.result",
        "functionName": "sd_WWVKD7LbhtIxKgql",
        "category": "Function",
        "x": 625,
        "y": 2260,
        "wires": [
            [
                "sd_AfeVe46h74IT3M4P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_WFsB4vp8wP0Uc0jf",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": " ",
        "script": "bh.status = 404;\n",
        "functionName": "sd_WFsB4vp8wP0Uc0jf",
        "category": "Function",
        "x": 625,
        "y": 2340,
        "wires": [
            [
                "sd_AfeVe46h74IT3M4P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_AfeVe46h74IT3M4P",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_AfeVe46h74IT3M4P",
        "category": "HTTP",
        "x": 780,
        "y": 2280,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_oBsUxswjTcgMgsLh",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 2480,
        "wires": [
            [
                "sd_4VSJb3LCKqzWPHzs"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_oBsUxswjTcgMgsLh"
    },
    {
        "id": "sd_4VSJb3LCKqzWPHzs",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}\nconsole.log(\"bh.input.params\",bh.input.params)",
        "functionName": "sd_4VSJb3LCKqzWPHzs",
        "category": "Function",
        "x": 220,
        "y": 2480,
        "wires": [
            [
                "sd_MBNgweWW8QJ3gy96"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_MBNgweWW8QJ3gy96",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_MBNgweWW8QJ3gy96",
        "category": "General",
        "x": 345,
        "y": 2480,
        "wires": [
            [
                "sd_OB6tUkmwnYkYgBt8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_OB6tUkmwnYkYgBt8",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_OB6tUkmwnYkYgBt8",
        "category": "Function",
        "x": 465,
        "y": 2480,
        "wires": [
            [
                "sd_FllQj01ptdt9LAnU"
            ],
            [
                "sd_Gznm98dxQtDk93Lf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_FllQj01ptdt9LAnU",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = bh.result[0]\nbh.verifiedUser = false;\nif (bh.result.password) {\n    bh.verifiedUser = true;\n}",
        "functionName": "sd_FllQj01ptdt9LAnU",
        "category": "Function",
        "x": 585,
        "y": 2440,
        "wires": [
            [
                "sd_Fh1c3d0gDPUWltTx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Gznm98dxQtDk93Lf",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\nbh.result = {\n    message:\"User don't exist\"\n}",
        "functionName": "sd_Gznm98dxQtDk93Lf",
        "category": "Function",
        "x": 625,
        "y": 2580,
        "wires": [
            [
                "sd_olfV7ccYpH7LQ2CJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TOURp9qKIevsDjjf",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "match",
        "propertyType": "bh",
        "propertyGv": "bh.match",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_TOURp9qKIevsDjjf",
        "category": "Function",
        "x": 885,
        "y": 2360,
        "wires": [
            [
                "sd_QxCZmhDNfRBIwHKA"
            ],
            [
                "sd_0qZG0chn6JnJPErO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_QxCZmhDNfRBIwHKA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\nconsole.log(\"Match match\")",
        "functionName": "sd_QxCZmhDNfRBIwHKA",
        "category": "Function",
        "x": 1005,
        "y": 2360,
        "wires": [
            [
                "sd_olfV7ccYpH7LQ2CJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_0qZG0chn6JnJPErO",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\nbh.result = {\n    message:\"PASSWORD DON'T MATCH\"\n}\n",
        "functionName": "sd_0qZG0chn6JnJPErO",
        "category": "Function",
        "x": 1005,
        "y": 2440,
        "wires": [
            [
                "sd_olfV7ccYpH7LQ2CJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_olfV7ccYpH7LQ2CJ",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_olfV7ccYpH7LQ2CJ",
        "category": "HTTP",
        "x": 1085,
        "y": 2580,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_CLgLydBqNVti2WhZ",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get each user",
        "path": "/get-user/:email",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "ID",
                    "desc": "To download file",
                    "type": "query",
                    "required": true,
                    "rowId": "sd_pMkLwPYFBYVimqhE",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 960,
        "wires": [
            [
                "sd_hmdg8ysNupoWdOn6"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_CLgLydBqNVti2WhZ"
    },
    {
        "id": "sd_hmdg8ysNupoWdOn6",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection: 'users'\n}\n\n",
        "functionName": "sd_hmdg8ysNupoWdOn6",
        "category": "Function",
        "x": 165,
        "y": 960,
        "wires": [
            [
                "sd_qIRM1NBRVtCMOzxb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_qIRM1NBRVtCMOzxb",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_qIRM1NBRVtCMOzxb",
        "category": "General",
        "x": 245,
        "y": 960,
        "wires": [
            [
                "sd_q88qf9HjiiFfihWk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_q88qf9HjiiFfihWk",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_q88qf9HjiiFfihWk",
        "category": "Function",
        "x": 325,
        "y": 960,
        "wires": [
            [
                "sd_wx3rRh0j3UyjBRr6"
            ],
            [
                "sd_flap8lqbwK2nb2PP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_wx3rRh0j3UyjBRr6",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = bh.result;\nbh.filter = { 'email': bh.input.params.email};\nbh.data;\nconst data = bh.result.map(_data =>{ return _data.email});\n\nfor(let i = 0;i<=data.length - 1;i++)\n{\n    if(data[i] == bh.filter.email)\n    {\n        console.log(\"finally !!!\", bh.result[i])\n        bh.data = bh.result[i];\n    }\n}\n\n    console.log(\"i data \",bh.data)\n\n",
        "functionName": "sd_wx3rRh0j3UyjBRr6",
        "category": "Function",
        "x": 425,
        "y": 920,
        "wires": [
            [
                "sd_IJdip9jR3HpGmWbe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_flap8lqbwK2nb2PP",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"User not Found\"\n}",
        "functionName": "sd_flap8lqbwK2nb2PP",
        "category": "Function",
        "x": 425,
        "y": 1000,
        "wires": [
            [
                "sd_IJdip9jR3HpGmWbe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_IJdip9jR3HpGmWbe",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "data",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.data",
            "send": "bh.data"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_IJdip9jR3HpGmWbe",
        "category": "HTTP",
        "x": 525,
        "y": 960,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_i2BDjs7lWIqTOk84",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Declined Status",
        "path": "/decline",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 1120,
        "wires": [
            [
                "sd_FpxzBN54euX5DNEa"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_i2BDjs7lWIqTOk84"
    },
    {
        "id": "sd_FpxzBN54euX5DNEa",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = bh.input.body.collection\nbh.filter = { 'email': bh.input.body['email'] };\n\ndelete bh.input.body.collection;\n\nbh.body = {$set: bh.input.body};",
        "functionName": "sd_FpxzBN54euX5DNEa",
        "category": "Function",
        "x": 245,
        "y": 1120,
        "wires": [
            [
                "sd_VkVrkyaHJD0J1pKG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_VkVrkyaHJD0J1pKG",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_VkVrkyaHJD0J1pKG",
        "category": "Storage",
        "x": 385,
        "y": 1120,
        "wires": [
            [
                "sd_RzdeRhZUNrzZz2fa"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_RzdeRhZUNrzZz2fa",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.result.value.email,\n    subject: 'FNB ACCOUNT',\n    from: 'FNB',\n    ptag:`<p>Your Application Has been Declined</p>\n    <h2>REASON FOR DECLINE</h2>\n    <P>${bh.input.body.reason}</P>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    ` \n}",
        "functionName": "sd_RzdeRhZUNrzZz2fa",
        "category": "Function",
        "x": 505,
        "y": 1120,
        "wires": [
            [
                "sd_CQzJhhRKoxIiX8E2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_CQzJhhRKoxIiX8E2",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_Y7tj22emRRoCDJdJ",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "undefined",
        "html": "bh.payload.ptag",
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_CQzJhhRKoxIiX8E2",
        "category": "Messaging",
        "x": 625,
        "y": 1120,
        "wires": [
            [
                "sd_zyVI0ok8Al20CB2T"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.ptag",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_acRYmMlvavd7AcXM",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_acRYmMlvavd7AcXM",
        "category": "HTTP",
        "x": 585,
        "y": 1700,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_zyVI0ok8Al20CB2T",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_zyVI0ok8Al20CB2T",
        "category": "HTTP",
        "x": 740,
        "y": 1120,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_PuSdM1tW1KeFaXdG",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Data da ssss\",bh.result)",
        "functionName": "sd_PuSdM1tW1KeFaXdG",
        "category": "Function",
        "x": 385,
        "y": 360,
        "wires": [
            [
                "sd_BkTEbjv46m5Enup2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6lGEPgVdLggcxVNd",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"files\"",
        "options": "bh",
        "resultMapping": "bh.result",
        "operation": "downloadFile",
        "argumentArray": [
            "filter"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_6lGEPgVdLggcxVNd",
        "category": "Storage",
        "x": 545,
        "y": 760,
        "wires": [
            [
                "sd_nY2koT84Hhv37baG"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "files",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_nRZpLBbte1ru4uxr",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Add Limits",
        "path": "/add-limits",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 2720,
        "wires": [
            [
                "sd_GgM7zUZye6XPGEA4"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_nRZpLBbte1ru4uxr"
    },
    {
        "id": "sd_GgM7zUZye6XPGEA4",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection:\"limits\"\n}\n\n",
        "functionName": "sd_GgM7zUZye6XPGEA4",
        "category": "Function",
        "x": 190,
        "y": 2720,
        "wires": [
            [
                "sd_u5lnNRYl49xDikQA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_u5lnNRYl49xDikQA",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_u5lnNRYl49xDikQA",
        "category": "General",
        "x": 310,
        "y": 2720,
        "wires": [
            [
                "sd_iTM3rmskviHDLOGP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_iTM3rmskviHDLOGP",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_iTM3rmskviHDLOGP",
        "category": "Function",
        "x": 430,
        "y": 2720,
        "wires": [
            [
                "sd_b9TWBY7XuaPTvG16"
            ],
            [
                "sd_c7L0WdtIBtxzKEiF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_b9TWBY7XuaPTvG16",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Limits \", bh.result)",
        "functionName": "sd_b9TWBY7XuaPTvG16",
        "category": "Function",
        "x": 565,
        "y": 2680,
        "wires": [
            [
                "sd_RFRvHDXH60P9ftLX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_c7L0WdtIBtxzKEiF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.body = bh.input.body;",
        "functionName": "sd_c7L0WdtIBtxzKEiF",
        "category": "Function",
        "x": 565,
        "y": 2760,
        "wires": [
            [
                "sd_BYK620ItCWsivnMd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_BYK620ItCWsivnMd",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"limits\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_BYK620ItCWsivnMd",
        "category": "Storage",
        "x": 685,
        "y": 2760,
        "wires": [
            [
                "sd_RFRvHDXH60P9ftLX"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "limits",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_RFRvHDXH60P9ftLX",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RFRvHDXH60P9ftLX",
        "category": "HTTP",
        "x": 800,
        "y": 2720,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_j82TdnOuu507rjLr",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Update limits",
        "path": "/update-limits",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 2880,
        "wires": [
            [
                "sd_3yx5lMlq794tyhIu"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_j82TdnOuu507rjLr"
    },
    {
        "id": "sd_3yx5lMlq794tyhIu",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.filter = { 'email': bh.input.body['email'] };\n\ndelete bh.input.body.collection;\n\nbh.body = {$set: bh.input.body};",
        "functionName": "sd_3yx5lMlq794tyhIu",
        "category": "Function",
        "x": 205,
        "y": 2880,
        "wires": [
            [
                "sd_t0rBgskoFLD9xVwX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_t0rBgskoFLD9xVwX",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"limits\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_t0rBgskoFLD9xVwX",
        "category": "Storage",
        "x": 325,
        "y": 2880,
        "wires": [
            [
                "sd_0pG3OydPZemivF1R"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "limits",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_0pG3OydPZemivF1R",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_0pG3OydPZemivF1R",
        "category": "HTTP",
        "x": 485,
        "y": 2880,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_jC4CZPcrB6AM8APi",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get limits",
        "path": "/get-limits",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 3000,
        "wires": [
            [
                "sd_d72ESEeBH1cYuKnQ"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_jC4CZPcrB6AM8APi"
    },
    {
        "id": "sd_RGRUCMF1o5AwFk7l",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_RGRUCMF1o5AwFk7l",
        "category": "General",
        "x": 305,
        "y": 3000,
        "wires": [
            [
                "sd_Rn6xAAYlGSrXBvv2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_d72ESEeBH1cYuKnQ",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"limits\"\n}",
        "functionName": "sd_d72ESEeBH1cYuKnQ",
        "category": "Function",
        "x": 205,
        "y": 3000,
        "wires": [
            [
                "sd_RGRUCMF1o5AwFk7l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Rn6xAAYlGSrXBvv2",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Rn6xAAYlGSrXBvv2",
        "category": "Function",
        "x": 445,
        "y": 3000,
        "wires": [
            [
                "sd_Lx4TSlx35L6Y1zpD"
            ],
            [
                "sd_4Vov9krK6nwQH13w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Lx4TSlx35L6Y1zpD",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.result = bh.result",
        "functionName": "sd_Lx4TSlx35L6Y1zpD",
        "category": "Function",
        "x": 625,
        "y": 2960,
        "wires": [
            [
                "sd_Mpq4MTLG6cp2URu7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_4Vov9krK6nwQH13w",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\n",
        "functionName": "sd_4Vov9krK6nwQH13w",
        "category": "Function",
        "x": 625,
        "y": 3040,
        "wires": [
            [
                "sd_Mpq4MTLG6cp2URu7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Mpq4MTLG6cp2URu7",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Mpq4MTLG6cp2URu7",
        "category": "HTTP",
        "x": 780,
        "y": 2980,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bphegCm8mwdh0GWH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = \"notifications\";\nbh.body = {\n    \"_id\": new Date().getTime(),\n    \"title\": \"Easy PAYU Application\",\n    \"message\": `You have a new application from ${bh.input.body.email}`,\n    \"read\": false,\n    \"createdDate\": `${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getUTCFullYear()}`\n}",
        "functionName": "sd_bphegCm8mwdh0GWH",
        "category": "Function",
        "x": 825,
        "y": 200,
        "wires": [
            [
                "sd_yu22SywR55qziFjZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_yu22SywR55qziFjZ",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.options",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_yu22SywR55qziFjZ",
        "category": "Storage",
        "x": 905,
        "y": 200,
        "wires": [
            [
                "sd_TVW1YChwcueLIbBM"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "options",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Q3EoU5e5mTgntbFC",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Default",
        "path": "/test",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 3140,
        "wires": [
            [
                "sd_tUDN48AN90NHUTKL"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_Q3EoU5e5mTgntbFC"
    },
    {
        "id": "sd_tUDN48AN90NHUTKL",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = \"App is running\"",
        "functionName": "sd_tUDN48AN90NHUTKL",
        "category": "Function",
        "x": 220,
        "y": 3140,
        "wires": [
            [
                "sd_1eFUS5HZikYHIx7u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_1eFUS5HZikYHIx7u",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_1eFUS5HZikYHIx7u",
        "category": "HTTP",
        "x": 340,
        "y": 3140,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_B6IXDQBMiBUQwk0z",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Pin",
        "path": "/login-pin",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 3300,
        "wires": [
            [
                "sd_SRcEjTK7ZizqL04P"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_B6IXDQBMiBUQwk0z"
    },
    {
        "id": "sd_SRcEjTK7ZizqL04P",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}",
        "functionName": "sd_SRcEjTK7ZizqL04P",
        "category": "Function",
        "x": 200,
        "y": 3300,
        "wires": [
            [
                "sd_uC4LekSuDyca2jIZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_uC4LekSuDyca2jIZ",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_uC4LekSuDyca2jIZ",
        "category": "General",
        "x": 325,
        "y": 3300,
        "wires": [
            [
                "sd_9nkTMpRnpiY4TIvQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_9nkTMpRnpiY4TIvQ",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9nkTMpRnpiY4TIvQ",
        "category": "Function",
        "x": 445,
        "y": 3300,
        "wires": [
            [
                "sd_h64qsgVN5PLnSQ9s"
            ],
            [
                "sd_yW2KEcl6Gn79kSEj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_h64qsgVN5PLnSQ9s",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// const bcrypt = require('bcrypt');\nbh.result = bh.result[0]\n\n// bh.match = await bcrypt.compare(bh.input.body.pin, bh.result.pin);\n\nconsole.log(\"BH result\",bh.result)",
        "functionName": "sd_h64qsgVN5PLnSQ9s",
        "category": "Function",
        "x": 600,
        "y": 3260,
        "wires": [
            [
                "sd_BTfS12GC9YBKZYn0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_yW2KEcl6Gn79kSEj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Error Error\")\nbh.status = 404",
        "functionName": "sd_yW2KEcl6Gn79kSEj",
        "category": "Function",
        "x": 605,
        "y": 3400,
        "wires": [
            [
                "sd_rLxbiwTDWAZuLEr6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_BTfS12GC9YBKZYn0",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.pin",
        "propertyType": "bh",
        "propertyGv": "bh.result.pin",
        "rules": [
            {
                "t": "eq",
                "v": "input.body.pin",
                "vt": "bh",
                "gv": "bh.input.body.pin"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_BTfS12GC9YBKZYn0",
        "category": "Function",
        "x": 745,
        "y": 3260,
        "wires": [
            [
                "sd_aVGWOsgI9efK0KAN"
            ],
            [
                "sd_tMdhBl97d3c5Jt3x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_aVGWOsgI9efK0KAN",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\nconsole.log(\"Match match\")",
        "functionName": "sd_aVGWOsgI9efK0KAN",
        "category": "Function",
        "x": 905,
        "y": 3260,
        "wires": [
            [
                "sd_rLxbiwTDWAZuLEr6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_tMdhBl97d3c5Jt3x",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404\nbh.result = {\n    message:\"PIN DON'T MATCH\"\n}\nconsole.log(\"NO Match match\")\n",
        "functionName": "sd_tMdhBl97d3c5Jt3x",
        "category": "Function",
        "x": 885,
        "y": 3340,
        "wires": [
            [
                "sd_rLxbiwTDWAZuLEr6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_rLxbiwTDWAZuLEr6",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_rLxbiwTDWAZuLEr6",
        "category": "HTTP",
        "x": 1025,
        "y": 3400,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Q3iVDqsSlXn9rilD",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_Y7tj22emRRoCDJdJ",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "bh.payload.ptag",
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.results",
        "functionName": "sd_Q3iVDqsSlXn9rilD",
        "category": "Messaging",
        "x": 705,
        "y": 1840,
        "wires": [
            [
                "sd_CsqlVcyusuyUG0DL"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.ptag",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "results",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Ehii9baB9fyHFBt8",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const bcrypt = require('bcrypt');\nbh.match = await bcrypt.compare(bh.input.body.password, bh.result.password);",
        "functionName": "sd_Ehii9baB9fyHFBt8",
        "category": "Function",
        "x": 805,
        "y": 2360,
        "wires": [
            [
                "sd_TOURp9qKIevsDjjf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Fh1c3d0gDPUWltTx",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "verifiedUser",
        "propertyType": "bh",
        "propertyGv": "bh.verifiedUser",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Fh1c3d0gDPUWltTx",
        "category": "Function",
        "x": 725,
        "y": 2440,
        "wires": [
            [
                "sd_Ehii9baB9fyHFBt8"
            ],
            [
                "sd_TmekbtScVdYg24Cr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TmekbtScVdYg24Cr",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\nbh.result = {\n    isNotApprovedAcc: \"Account application not approved yet\"\n}\n",
        "functionName": "sd_TmekbtScVdYg24Cr",
        "category": "Function",
        "x": 885,
        "y": 2480,
        "wires": [
            [
                "sd_olfV7ccYpH7LQ2CJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_nY2koT84Hhv37baG",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "filename",
        "propertyType": "bh",
        "propertyGv": "bh.filename",
        "rules": [
            {
                "t": "eq",
                "v": "pdf",
                "vt": "str",
                "gv": "\"pdf\""
            },
            {
                "t": "eq",
                "v": "jpg",
                "vt": "str",
                "gv": "\"jpg\""
            },
            {
                "t": "eq",
                "v": "png",
                "vt": "str",
                "gv": "\"png\""
            },
            {
                "t": "eq",
                "v": "webp",
                "vt": "str",
                "gv": "\"webp\""
            },
            {
                "t": "eq",
                "v": "docx",
                "vt": "str",
                "gv": "\"docx\""
            },
            {
                "t": "eq",
                "v": "jpeg",
                "vt": "str",
                "gv": "\"jpeg\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "functionName": "sd_nY2koT84Hhv37baG",
        "category": "Function",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "sd_U51XDCPzRTBa6Klc"
            ],
            [
                "sd_SHu4QvldGZebnLYU"
            ],
            [
                "sd_SHu4QvldGZebnLYU"
            ],
            [
                "sd_SHu4QvldGZebnLYU"
            ],
            [
                "sd_SlTlV5aYYJWkZbgJ"
            ],
            [
                "sd_SHu4QvldGZebnLYU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_eYpGZ5fRcnMTKcLL",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "stream",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "stream": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_eYpGZ5fRcnMTKcLL",
        "category": "HTTP",
        "x": 545,
        "y": 840,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_zB6RCba7lqBpwZY5",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"Files not Found\"\n}",
        "functionName": "sd_zB6RCba7lqBpwZY5",
        "category": "Function",
        "x": 425,
        "y": 840,
        "wires": [
            [
                "sd_eYpGZ5fRcnMTKcLL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_SHu4QvldGZebnLYU",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Images Res",
        "headers": {
            "Content-Type": "image/png"
        },
        "responseBody": {
            "type": "bh",
            "value": "result.downloadStream",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "stream",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "stream": "bh.result.downloadStream"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Type",
                    "value": "image/png",
                    "rowId": "sd_9MBb3aYJtj9Z9ryJ",
                    "valid": true
                }
            ],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "imagesRes",
        "category": "HTTP",
        "x": 785,
        "y": 840,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_U51XDCPzRTBa6Klc",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Pdf Res",
        "headers": {
            "Content-Type": "application/pdf"
        },
        "responseBody": {
            "type": "bh",
            "value": "result.downloadStream",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "stream",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "stream": "bh.result.downloadStream"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Type",
                    "value": "application/pdf",
                    "rowId": "sd_9MBb3aYJtj9Z9ryJ",
                    "valid": true
                }
            ],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "pdfRes",
        "category": "HTTP",
        "x": 785,
        "y": 760,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_SlTlV5aYYJWkZbgJ",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Docx Res",
        "headers": {
            "Content-Type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        },
        "responseBody": {
            "type": "bh",
            "value": "result.downloadStream",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "stream",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "stream": "bh.result.downloadStream"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Type",
                    "value": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "rowId": "sd_9MBb3aYJtj9Z9ryJ",
                    "valid": true
                }
            ],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "docxRes",
        "category": "HTTP",
        "x": 785,
        "y": 940,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    }
]
