designs/server/services/reset_password.json
[
    {
        "id": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "type": "tab",
        "createdDate": "2024-06-05T08:53:29.389Z",
        "label": "reset_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "reset_password",
        "relativeParentPath": ""
    },
    {
        "id": "sd_YsCdQDFg5IFZwoZn",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "server",
        "nodeType": "start",
        "name": "change password",
        "path": "/reset-password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 100,
        "wires": [
            [
                "sd_kFZUqNBs4xIRZrxj"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_password",
        "functionName": "sd_YsCdQDFg5IFZwoZn"
    },
    {
        "id": "sd_kFZUqNBs4xIRZrxj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.searchObj = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n};\n\n bh.newPassword = bh.input.body.newPassword;",
        "functionName": "sd_kFZUqNBs4xIRZrxj",
        "category": "Function",
        "x": 185,
        "y": 100,
        "wires": [
            [
                "sd_pfLFrrHIWoFVUwXf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_pfLFrrHIWoFVUwXf",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "searchObj"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.searchObj"
        ],
        "accept_bh": false,
        "functionName": "sd_pfLFrrHIWoFVUwXf",
        "category": "General",
        "x": 305,
        "y": 100,
        "wires": [
            [
                "sd_qrNexXgx3HDHFFdH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_qrNexXgx3HDHFFdH",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_qrNexXgx3HDHFFdH",
        "category": "Function",
        "x": 425,
        "y": 100,
        "wires": [
            [
                "sd_Mzuc8dcrua2ZX4pf"
            ],
            [
                "sd_MyZhoKNk9mm7xuGi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_MyZhoKNk9mm7xuGi",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result ={\n    message:\"User dont exist\"\n}\n\nconsole.log(\"user dnt exist\")",
        "functionName": "sd_MyZhoKNk9mm7xuGi",
        "category": "Function",
        "x": 565,
        "y": 180,
        "wires": [
            [
                "sd_RPndJY79VYCClCbL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_Mzuc8dcrua2ZX4pf",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const bcrypt = require('bcrypt');\nbh.result = bh.result[0]\nconsole.log(\"Res\", bh.result)\nbh.filter = { 'email': bh.input.body['email'] };\nbh.input.body = {\n    ...bh.result[0]\n}\nconst hashedPassword = await bcrypt.hash(bh.newPassword, 10);\n\nconsole.log(\"Hash pas\", bh.input.body['password'])\nbh.body = {$set: bh.input.body};\nbh.input.body['password'] = hashedPassword\n\nbh.payload = {\n    to: bh.input.body.email,\n    subject: 'Forgot Password',\n    from: 'FNB',\n    ptag:`<p>Your OTP is ${bh.input.body.OTP}</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    ` \n}\n\nbh.status = 200;",
        "functionName": "sd_Mzuc8dcrua2ZX4pf",
        "category": "Function",
        "x": 565,
        "y": 60,
        "wires": [
            [
                "sd_QKmfHf5v1iAoJIMR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_RPndJY79VYCClCbL",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RPndJY79VYCClCbL",
        "category": "HTTP",
        "x": 785,
        "y": 180,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_QKmfHf5v1iAoJIMR",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"users\"",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_QKmfHf5v1iAoJIMR",
        "category": "Storage",
        "x": 685,
        "y": 60,
        "wires": [
            [
                "sd_RPndJY79VYCClCbL"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "users",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_vL6vBbxD9B71zWOa",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "server",
        "nodeType": "start",
        "name": "Verify-password",
        "path": "/verify-password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 45,
        "y": 320,
        "wires": [
            [
                "sd_G7sx7TAw9TzCzx6H"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_password",
        "functionName": "sd_vL6vBbxD9B71zWOa"
    },
    {
        "id": "sd_G7sx7TAw9TzCzx6H",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}",
        "functionName": "sd_G7sx7TAw9TzCzx6H",
        "category": "Function",
        "x": 125,
        "y": 320,
        "wires": [
            [
                "sd_rcjbcRsPlPwdY5i8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_rcjbcRsPlPwdY5i8",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_rcjbcRsPlPwdY5i8",
        "category": "General",
        "x": 225,
        "y": 320,
        "wires": [
            [
                "sd_X6sOWLFetAV9JaeR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_X6sOWLFetAV9JaeR",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_X6sOWLFetAV9JaeR",
        "category": "Function",
        "x": 325,
        "y": 320,
        "wires": [
            [
                "sd_hiM9kGnCwe6HYTqo"
            ],
            [
                "sd_VziY0KEOApLt4hxn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_hiM9kGnCwe6HYTqo",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const bcrypt = require('bcrypt');\nbh.result = bh.result[0]\nbh.match = await bcrypt.compare(bh.input.body.password, bh.result.password);\n",
        "functionName": "sd_hiM9kGnCwe6HYTqo",
        "category": "Function",
        "x": 465,
        "y": 280,
        "wires": [
            [
                "sd_ieoDhzfYhWxoYugU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_VziY0KEOApLt4hxn",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Error Error\")\nbh.status = 404\nbh.result = {\n    message:\"No user\"\n}",
        "functionName": "sd_VziY0KEOApLt4hxn",
        "category": "Function",
        "x": 465,
        "y": 380,
        "wires": [
            [
                "sd_7X0RR7epEfdwuDmo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_ieoDhzfYhWxoYugU",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "match",
        "propertyType": "bh",
        "propertyGv": "bh.match",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ieoDhzfYhWxoYugU",
        "category": "Function",
        "x": 565,
        "y": 280,
        "wires": [
            [
                "sd_hxoyxAWXIjbx2FnC"
            ],
            [
                "sd_emBvfYO3O1DnDsME"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_hxoyxAWXIjbx2FnC",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200\nconsole.log(\"Match match\")\nbh.result ={\n    message:\"Matching\"\n}",
        "functionName": "sd_hxoyxAWXIjbx2FnC",
        "category": "Function",
        "x": 705,
        "y": 260,
        "wires": [
            [
                "sd_7X0RR7epEfdwuDmo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_emBvfYO3O1DnDsME",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404\nbh.result = {\n    message:\"PASSWORD DON'T MATCH\"\n}\n\n",
        "functionName": "sd_emBvfYO3O1DnDsME",
        "category": "Function",
        "x": 705,
        "y": 340,
        "wires": [
            [
                "sd_7X0RR7epEfdwuDmo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    },
    {
        "id": "sd_7X0RR7epEfdwuDmo",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_iMKqWiWI0WVpbwzm",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_7X0RR7epEfdwuDmo",
        "category": "HTTP",
        "x": 845,
        "y": 380,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_password",
        "generated": true
    }
]
